.home {
  font-size: 12px;
  font-weight: bold;
}

.movie-list {
  font-size: 10px;
  background-color: white;
  width: 90%;
  height: auto;
  border-radius: 15px;
  padding: 15px;
}

h2 {
  text-align: center;
}

table {
  width: 100%;
}

tr {
  position: relative;
  width: 100%;
  text-align: center;
  border: 4px solid white;
}

td {
  margin: 10px;
  background-color: #d9d9d9;
}

.movie-name {
  border-top-left-radius: 5em;
  border-bottom-left-radius: 5em;
}

button {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 10px;
}