.home {
  font-size: 12px;
  font-weight: bold;
}

.profile-card {
  font-size: 10px;
  background-color: white;
  width: 90%;
  height: auto;
  border-radius: 15px;
  padding: 15px;
  position: relative;
}

.profile {
  display: grid;
  column-count: 2;
  grid-template-columns: auto auto;
}

img {
  margin: 10px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 10px;
}

.profile-photo {
  height: 100%;
  display: table-cell;
  vertical-align: center;
  display: flex;
  align-items: flex-end;
  text-align: left;

}

.profile-info {
  height: 100%;
  display: table-cell;
  vertical-align: center;
  display: flex;
  align-items: start;
}

.profile-text {
  padding-bottom: 40px;
  margin-top: 40px;
}

button {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 8px;
  border-radius: 15px;
  width: 100px;
  height: 15px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}
